<h2 class="content-block">Inventario</h2>

<div class="content-block">
    <dx-data-grid class="dx-card wide-card"
    [dataSource]="dataSource"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    keyExpr="IntentarioId"
    [columnHidingEnabled]="true"
    [remoteOperations]="true">

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true"></dxo-editing>

 
    <dxi-column
        dataField="ProductoId"
        caption="Producto" dataType="number">
        <dxo-lookup [dataSource]="shippersData" valueExpr="Value" displayExpr="Text"></dxo-lookup>
    </dxi-column>
    <dxi-column
        dataField="CantidadActual"
        caption="Cantidad actual">
    </dxi-column>
    <dxi-column type="buttons" caption="Acciones">
        <button name="editar" caption="Editar">Editar</button>
        <button name="borrar">Eliminar</button>        
    </dxi-column>
    
    </dx-data-grid>
</div>

