<h2 class="content-block">Detalle Factura</h2>

<div class="content-block">
    <dx-data-grid class="dx-card wide-card"
    [dataSource]="dataSource"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    keyExpr="FacturaDetalleId"
    [columnHidingEnabled]="true"
    [remoteOperations]="true">

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true"></dxo-editing>

    <dxi-column
        dataField="FacturaId"
        caption="Factura" dataType="number">
        <dxo-lookup [dataSource]="FacturaData" valueExpr="FacturaId" displayExpr="FechaCompra"></dxo-lookup>
    </dxi-column>
    <dxi-column 
        dataField="ProductoId"
        caption="Producto" dataType="number">
        <dxo-lookup [dataSource]="ProductoData" valueExpr="ProductoId" displayExpr='Nombre'></dxo-lookup>
    </dxi-column>
    <dxi-column 
        dataField="Cantidad"
        caption="Cantidad" dataType="number">
    </dxi-column>
    <dxi-column type="buttons" caption="Acciones">
        <button name="editar" caption="Editar">Editar</button>
        <button name="borrar">Eliminar</button>        
    </dxi-column>
    
    </dx-data-grid>
</div>

